html {
  /* Everything in here will design the HTML element */
  box-sizing: border-box;
  background-color: #c9b5ab;
  font-family: Georgia, serif;
  line-height: 1.5;
}

a {
  background-color: #c9b5ab;
  text-decoration: line-through;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  width: 100%;
}

header h1 {
  font-size: 1.5rem;
  color: #3f1622;
  font-family: "Patua One", "PT Serif";
}

h1, h2 {
  font-size: 1.5rem;
  color: #3f1622;
  font-family: "Patua One", "PT Sans";
}

h1 i {
  font-weight: bold;
}

ol li {
  font-weight: bold;
  font-family: PT;
  font-size: 1.125rem;
  color: #8f2440;
}

li {
  /* font-size: 1.125rem; */
  font-weight: bold;
  font-family: PT;
  font-size: 1.125rem;
  color: #8f2440;
}

li:last-child {
  /* font-size: 1.125rem; */
  font-weight: bold;
  font-family: PT;
  font-size: 1.125rem;
  color: #8f2440;
}

[href^="http://"] {
  /* font-size: 1.125rem; */
  font-weight: bold;
  font-family: PT;
  font-size: 1.125rem;
  color: #8f2440;
}

a:hover {
  color: #c9b5ab;
  text-decoration: line-through;
}

figcaption {
  font-weight: normal;
  font-size: 1.125rem;
  font-style: italic;
}

main p {
  font-weight: bold;
  font-family: PT;
  font-size: 1.5rem;
  color: #222;
}

blockquote p {
  font-weight: bold;
  font-family: PT;
  font-size: 1.5rem;
  font-style: italic;
  color: #222;
}

nav ol {
  list-style-type: none;
}

h2 p data {
  font-style: italic;
  font-size: 1.125rem;
}

ul li {
  font-size: 1.5rem;
  color: #222;
}
