html {
  box-sizing: border-box;
  background-color: #c9b5ab;
  font-family: Georgia, serif;
  line-height: 1.5;
}

h1, h2 {
  font-size: 1.5rem;
  color: #3f1622;
}

h1 i {
  font-weight: bold;
}

ol li {
  font-weight: bold;
  font-family: PT;
  font-size: 1.125rem;
  color: #8f2440;
}

li {
  /* font-size: 1.125rem; */
  font-weight: bold;
  font-family: PT;
  font-size: 1.125rem;
  color: #8f2440;
}

li:last-child {
  /* font-size: 1.125rem; */
  font-weight: bold;
  font-family: PT;
  font-size: 1.125rem;
  color: #8f2440;
}

[href^="http://"] {
  /* font-size: 1.125rem; */
  font-weight: bold;
  font-family: PT;
  font-size: 1.125rem;
  color: #8f2440;
}

a:hover {
  color: #c9b5ab;
  text-decoration: line-through;
}
